{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="profile-container">
    <h1>Register</h1>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field(class="form-control") }} {% for error in field.errors %}
        <span class="error-message">[{{ error }}]</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button>Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
