{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>{{ title }}</h1>

  <form method="POST" action="{{ url_for('shopping_list') }}">
    {{ form.hidden_tag() }}
    <div>{{ form.item.label }} {{ form.item(size=32) }}</div>
    <div>{{ form.submit() }}</div>
  </form>

  <ul>
    {% for item in items %}
    <li>
      {{ item.item_name }}
      <form method="POST" action="/remove_item/{{item.id}}">
        <button type="submit">Remove</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
